:root {
	--font-primary: "Times New Roman", Times, serif;
	line-height: 1.5;
	font-weight: 400;
	color-scheme: light dark;
	color: rgba(255, 255, 255, 0.87);
	background-color: #242424;
	font-synthesis: none;
	text-rendering: optimizeLegibility;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	
}

body {
	min-width: 320px;
	min-height: 100vh;
	font-family: var(--font-primary);
}

h1 {
	color: #000000;
	font-size: 32px;
	line-height: 1.1;
	text-align: center;
	
}
a.nav-link {
	margin-top: 0;
	margin-bottom: 0;
}

h2 {
	text-align: center;
	font-size: 24px;
	padding-top: 0;
}

.container {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
}

form {
	display: flex;
	flex-direction: column;
	align-items: left;
	justify-content: center;
	margin-right: auto;
	margin-left: auto;
	width: 290px;
}

input {
	height: 20.17px;
	width: 60%;
}

input label {
	display: block;
	margin-top: 1rem;
	margin-bottom: 10px;
}
.label-firstName,
.label-lastName,
.label-dateOfBirth,
.label-startDate,
.label-zipCode,
.label-state,
.label-departmentSelect {
	font-size: 160px;
	margin: 16px 0px 10px;
}

#zipCode,
#firstName,
#lastName,
#dateOfBirth,
#street,
#city {
	margin: 10px 0;
}
.label-street {
	margin-top: 100px;
}

.style-datePicker {
	margin: 10px 0;
}

.address {
	margin: 10px 2px 0;
}

.legend {
	font-size: 16px;
	color: #000000;
	font-family: "Times New Roman", Times, serif;
	margin: 10px 0 10px 20px;
	position: absolute;
	top: -25px;
	background: white;
	padding-top: 0px;
	padding-left: 5px;
	padding-right: 5px;
}

.address-container {
	border: solid rgb(66, 47, 47) 1px;
	display: flex;
	flex-direction: column;
	position: relative;
	padding-left: 10px;
	padding-bottom: 10px;
	padding-top: 20px;
	margin-top: 20px;
	margin-bottom: 10px;
}

#state {
	background: #ededed;
	margin: 10px 0;
	width: 257px;
	height: 33px;
}

#state option {
	background: white;
}

.backup {
	border: solid 1px black;
	font-size: 13px;
	margin-right: auto;
	margin-left: auto;
	background-color: #f0f0f0;
	margin-top: 20px;
}

#departmentSelect {
	background-color: #ededed;
	width: 257px;
	height: 33px;
	margin: 10px 0;
	font-size: 16px;
}

.dept-select option {
	background-color: white;
}

.employButton {
	color: #000000;
	background-color: #f0f0f0;
	padding: 1px 6px;
	width: fit-content;
	margin-right: auto;
	margin-left: auto;
	margin-top: 12px;
	border: solid 1px gray;
}

button {
	border-radius: 8px;
	border: 1px solid transparent;
	padding: 0.6em 1.2em;
	font-size: 1em;
	font-weight: 500;
	font-family: inherit;
	background-color: #1a1a1a;

	cursor: pointer;
	transition: border-color 0.25s;
}
button:hover {
	border-color: #646cff;
}
button:focus,
button:focus-visible {
	outline: 4px auto -webkit-focus-ring-color;
}

.style-datePicker {
	text-align: center;
}
.react-datepicker {
	position: relative;
}
.react-datepicker__calendar-icon {
	position: absolute;
	right: 65px;
	top: 5px;
}
.nav-link {
	text-align: center;
	margin: 20px 0;
	text-decoration: none;
}

a.nav-link {
	font-size: 16px;
}

select {
	height: 32.8px;
	width: 258px;
	margin: 16px 10px;
}

.modal-title {
	font-size: 16px;
	font-family: "Times New Roman", Times, serif;
	padding: 0;
	margin-left: 30px;
	margin-top: 15px;
	text-align-last: left;
	margin: 0;
}


@media (prefers-color-scheme: light) {
	:root {
		color: #213547;
		background-color: #ffffff;
	}
	a:hover {
		color: #747bff;
	}
	button {
		background-color: #f9f9f9;
	}
}

